<h1>Scores#new</h1>
<h1>Nouveau score</h1>
<%= semantic_form_for(@score) do |f| %>
      <% f.inputs do %>
      	  <%= f.input :client, :as => :select, :include_blank => false, :collection => Client.find(:all) %>
         <p> <%= f.input :score, :as => :select,:collection => (0..20).to_a, :include_blank => false %> /20 </p>
          <%= f.input :date %>

      <% end %>

      <% f.buttons do %>
          <%= f.commit_button %>
      <% end %>
<% end %>