<h1>Scores#index</h1>
<table class="forum_table">


  <tr>
    <th>Scores</th>
  </tr>


  <% @scores.each do |score| %>
      <tr onclick="location.href='<%= url_for score_path(score.id) %>'" class="forum_list">
        <td class="forum_name">
          <p><a href="<%= url_for score_path(score.id) %>"><%= score.client %></a></p>
          <p><%= link_to "éditer le score", edit_score_path(score.id) %></p>
          <%= link_to "Supprimer", score_path(score.id), :confirm => "Are you sure?", :method => :delete %>
        </td>

      </tr>
  <% end %>

</table>

<div>
        <%= link_to "Créer une nouveau score", new_score_path %>
  </div>