<h1>Modification de Client</h1>
<%= semantic_form_for(@client) do |f| %>
    <% f.inputs do %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :email %>
        <%= f.input :agence %>
    <% end %>
    <% f.buttons do %>
        <%= f.commit_button %>
    <% end %>
<% end %>
