<h1>Clients#index</h1>
<table class="forum_table">


  <tr>
    <th>Clients</th>
  </tr>


  <% @clients.each do |client| %>
      <tr onclick="location.href='<%= url_for client_path(client.id) %>'" class="forum_list">
        <td class="forum_name">
          <p><a href="<%= url_for client_path(client.id) %>"><%= client.id %></a></p>
          <p>
            <%= client.email %>
            <%= client.encrypted_password %>
            <%= client.first_name %>
            <%= client.last_name %>
            <%= client.has_code %>
            <%= client.has_car_permit %>
            <%= client.has_moto_permit %>
            <%= client.email %>
            <%= client.email %>

          </p>
          <p><%= link_to "éditer le client", edit_client_path(client.id) %></p>
          <%= link_to "Supprimer", client_path(client.id), :confirm => "Are you sure?", :method => :delete %>
        </td>

      </tr>
  <% end %>

</table>

<div>
        <%= link_to "Créer une nouvelle agence", new_agency_path %>
  </div>