<h1>Liste des Clients</h1>

<form name="sform" action="" style="display:inline;">
<label for="item_name">Rechercher avec le nom ou le prénom  : </label>

<%= text_field_tag("query", params['query'], :size => 10 ) %>
</form>


<table class="forum_table">


  <tr>
    <th>Clients</th>
  </tr>


  <% @clients.each do |client| %>

      <tr onclick="location.href='<%= url_for client_path(client.id) %>'" class="forum_list">
        <td class="forum_name"><a href="<%= url_for client_path(client.id) %>"> Romain DELHOUTE</a></td>
          <td class="link"><%= link_to "Editer", edit_client_path(client.id) %></td>
        <td class="link"><%= link_to "Suivi", suivi_path(client.id) %></td>
        <td class="link"><%= link_to "Proposer", proposer_path(client.id) %></td>
        <td class="link"><%= link_to "Supprimer", client_path(client.id), :confirm => "Confirmer la suppression ?", :method => :delete %></td>



      </tr>
  <% end %>

</table>

<div>

  </div>