<h1>Les Agences SafeDriving</h1>
<table class="forum_table">

  <% @agencies.each do |agency| %>
      <tr onclick="location.href='<%= url_for agency_path(agency.id) %>'" class="forum_list">
        <td><a href="<%= url_for agency_path(agency.id) %>"><%= agency.city %></a></td>
        <td class="link"><%= link_to "Éditer", edit_agency_path(agency.id) %></td>
        <td class="link"><%= link_to "Supprimer", agency_path(agency.id), :confirm => "Are you sure?", :method => :delete %></td>

      </tr>
  <% end %>

</table>

<div>
  <%= link_to "Créer une nouvelle agence", new_agency_path %>
</div>