<!DOCTYPE html>
<html>
<head>
  <title>CRM</title>
  <script type="text/javascript" src="/javascripts/jquery.js" >
      <script>jQuery.noConflict();</script>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all%>
  <%= javascript_include_tag 'highcharts' %> <!--[if IE]> <%= javascript_include_tag 'excanvas.compiled' %> <![endif]-->


  <%= csrf_meta_tag %>
</head>
<body>
<div id="wrapper">


  <div id="navigate">
    <div id="home" class="element_nav"> <a href="<%= url_for :root %>"><%= image_tag("home.png") %></a></div>
    <div class="separator"></div>
    <%=
        s = ""
        url = request.path.split('?')  #remove extra query string parameters
        levels = url[0].split('/') #break up url into different levels
        levels.each_with_index do |level, index|
            unless level.blank?
                if index == levels.size-1 ||
                        (level == levels[levels.size-2] && levels[levels.size-1].to_i > 0)
                    s += "<div class='element_nav'><p>#{level.gsub(/_/, ' ').titleize}</p></div><div class='separator'></div>\n" unless level.to_i > 0
                else
                    link = "/"
                    i = 1
                    while i <= index
                        link += "#{levels[i]}/"
                        i+=1
                    end
                    s += "<a href=\"#{link}\"><div class='element_nav'><p>#{level.gsub(/_/, ' ').titleize}</p></div></a><div class='separator'></div>\n"
                end
            end
        end
        raw s
    -%>

    <div id="user_nav" style="float:right;">
      <% if client_signed_in? %>
          Connecté sur <%= current_client.email %>. Ce n'est pas vous ?
          <%= link_to "Se déconnecter", destroy_client_session_path %>
      <% else %>
          <%= link_to "S'inscrire", new_client_registration_path %> ou <%= link_to "se connecter", new_client_session_path %>
      <% end %>
    </div>
  </div>
  <div style="clear:both;"></div>
  <div id="menu_gauche">


    <div class="menu_container">
      <a href="#"><div class="element_menu actionize"><p>Leader</p><div class="dropdown"></div></div>  </a>
      <ul class="menu_list">
        <a href="<%= url_for new_formation_path %>"><li>Créer une formation</li></a>
        <a href="<%= url_for formations_path %>"><li>Liste des formations</li></a>
        <a href="<%= url_for new_agency_path %>"><li>Voir mon planning</li></a>
      </ul>
    </div>

    <div class="menu_container">
      <a href="#"><div class="element_menu actionize"><p>Gestion des Agences</p><div class="dropdown"></div> </div></a>
      <ul class="menu_list">
        <a href="<%= url_for agencies_path %>"><li>Liste des Agences</li></a>
        <a href="<%= url_for new_agency_path %>"><li>Ajouter une Agence</li></a>
      </ul>
    </div>

    <div class="menu_container">
      <a href="#"><div class="element_menu actionize"><p>Gestion des Leaders</p><div class="dropdown"></div></div>  </a>
      <ul class="menu_list">
        <a href="<%= url_for leaders_path %>"><li>Liste des Leaders</li></a>
        <a href="<%= url_for new_agency_path %>"><li>Ajouter un Leader</li></a>
      </ul>
    </div>

    <div class="menu_container">
      <a href="#"><div class="element_menu actionize"><p>Gestion des Élèves</p><div class="dropdown"></div></div>     </a>
      <ul class="menu_list">
        <a href="<%= url_for clients_path %>"><li>Liste des Élèves</li></a>
        <a href="<%= url_for new_agency_path %>"><li>Présenter un élève</li></a>
      </ul>
    </div>


  </div>

  <div id="contenu">
    <%= yield %>
  </div>
</div>
</body>
</html>
